// cancelling default styles

p {
    margin: 0;
}

span {
    display: inline-block;
}

// fonts, mixins, global vars

@font-face {
    src: url(fonts/avertaRegular.otf);
    font-family: 'Averta';
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    src: url(fonts/avertaRegularIt.otf);
    font-family: 'Averta';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url(fonts/avertaSemibold.otf);
    font-family: 'Averta';
    font-weight: 500;
    font-style: normal;
}  

@font-face {
    src: url(fonts/avertaLight.otf);
    font-family: 'Averta';
    font-weight: 300;
    font-style: normal;
}  

@font-face {
    src: url(fonts/sourcesansRegular.ttf);
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
} 

@mixin avertaReg {
    font-family: 'Averta';
    font-weight: 400;
    font-style: normal;
}

@mixin avertaRegIt {
    font-family: 'Averta';
    font-weight: 400;
    font-style: italics;
}

@mixin avertaSemi {
    font-family: 'Averta';
    font-weight: 500;
    font-style: normal;
}

@mixin avertaLight {
    font-family: 'Averta';
    font-weight: 300;
    font-style: normal;
}

@mixin sourcesansReg {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
}

$slideHarsh1: cubic-bezier(0.53, 0.02, 0.32, 1);
$transButton1: cubic-bezier(0.63, 0, 0.34, 1);
$slideSmooth1: cubic-bezier(0.69, 0, 0.32, 1);
$textOrange1: rgb(236, 131, 26);
$textBlack1: rgb(27, 27, 27);
$brandGradient1: linear-gradient(90deg, rgb(255, 140, 26) 0%, rgb(221, 66, 19) 50%, rgba(210,16,16,1) 100%);
$brandGradient1rev: linear-gradient(270deg, rgb(255, 140, 26) 0%, rgb(221, 66, 19) 50%, rgba(210,16,16,1) 100%);

// components 

.buttonOrange1 {
    border: 2px solid $textOrange1;
    border-radius: 20px;
        color: $textOrange1;
        background-color: #fff;
    @include avertaReg;
    font-size: 5vw;
    transition-property: color, background-color;
    transition-duration: 0.7s;
    transition-timing-function: $slideHarsh1;
    transition-delay: 0s;
}

    .buttonOrange1:hover {
        background-color: $textOrange1;
        color: #fff;
        transition-property: color, background-color;
        transition-duration: 0.7s;
        transition-timing-function: $slideHarsh1;
        transition-delay: 0s;
    }

// styles beginning

#body {
    background-color: #fff;
    margin: 0;
}

@media (max-width: 490px) {
    html {
        font-size: 32px;
    }

    #body {
        overflow-x: hidden;
    }

    #header {
        width: 100vw;
        height: 80px;
        position: fixed;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, rgb(255, 140, 26) 0%, rgb(221, 66, 19) 50%, rgba(210,16,16,1) 100%);

        #headerLogoCont {
            margin-left: 50px;
        }

        #headerLogo {
            width: 124px;
            margin-top: 8px;
        }

        #headerMenuIconCont {
            margin-right: 24px;

            #headerMenuIcon {
                width: 40px;
                margin-top: 6px;
            }
        }   
    }

    // keyframes for screen1 container

    @keyframes s1Arrow {
        0% {bottom: 30px; opacity: 0.5;}
        80% {opacity: 1;}
        100% {bottom: 0px;}
    }

    @keyframes s1Cloud {
        100% {right: 0vw;}
    }

    @keyframes s1Solutions {
        100% {left: 0vw;}
    }

    @keyframes opacity0to1 {
        0% {opacity: 0;};
        100% {opacity: 1;};
    }

    #screen1 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-image: url(images/bg1.jpg);
        background-position: center;
        background-size: auto 100%;

        #s1Caption {
            margin: 0 auto;
            width: 80%;
        }

        #s1CaptionTop {
            font-size: 16vw;
            line-height: 2rem;
            color: #fff;
            text-align: center;
            @include avertaSemi;

            #cloud {
                position: relative;
                right: 100vw;  
                // js function s1Animate() after onload
            }

            #solutions {
                position: relative;
                left: 100vw;
                // js function s1Animate() after onload
            }

            #foreveryone {
                opacity: 0;
                // js function s1Animate() after onload
            }
        }

        #s1CaptionSub {
            font-size: 8vw;
            color: #fff;
            text-align: center;
            @include avertaLight;
        }

        #s1Arrow {
            position: relative;
            width: 20vw;
            margin-top: 27vh;
            margin-bottom: 4vh;
            animation-name: s1Arrow;
            animation-duration: 1.2s;
            animation-timing-function: $slideHarsh1;
            animation-iteration-count: infinite;
        }
    }

    // screen 2 styles start

    #screen2 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1.5rem;

        #s2Caption {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #thepowerof {
                font-size: 8vw;
                text-align: center;
                @include avertaReg;
                color: $textOrange1;
                margin-bottom: 20px;
            }

            #s2Logo {
                width: 42vw;
                opacity: 0;
                // js function s1Animate() after onload
            }
        }

        #s2FeaturesWindow {
            width: 86vw;
            display: flex;
            grid-gap: 80px;
            margin-top: 80px;
            margin-bottom: 50px;
            overflow: hidden;

            #s2FeaturesCont {
                display: flex;
                // flex-direction: row;
                // justify-content: flex-start;
                // align-items: center;
                grid-gap: 80px;
                transition: all 0.7s $slideSmooth1;
                // overflow: hidden;
    
                .s2FeatureBlock {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    // margin-right: 80px;
                    // last .s2FeatureBlock has m-right: 0px, style below
    
                    img.s2FeatureImg {
                        width: 44vw;
                        margin-bottom: 12px;
                    }
    
                    .s2FeatureCaption {
                        font-size: 12vw;
                        color: $textOrange1;
                        text-align: center;
                        @include avertaSemi;
                        margin-bottom: 4px;
                    }
    
                    .s2CaptionAnno {
                        width: 86vw;
                        font-size: 7vw;
                        color: $textBlack1;
                        text-align: center;
                        @include sourcesansReg; 
                    }
                }
    
                // .s2FeatureBlock:last-of-type {
                //     margin-right: 0px;
                // }
            }

        }

        #s2Buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;

            #s2ArrowLeft {
                height: 12vw;
                margin-right: 30px;
            }

            #s2ArrowRight {
                height: 12vw;
                margin-left: 30px;
            }
        }

        #s2Button {
            width: 68vw;
            height: 72px;
            margin-bottom: 100px;
            border-radius: 40px;
            background: $brandGradient1rev;
            text-align: center;
            line-height: 64px;
            font-size: 8vw;
            @include avertaReg;
            color: #fff;
        }
    }

    #screen3 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #dbb591;
        
        #s3Caption {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 40px;
            @include avertaReg;
            font-size: 8vw;
            color: #fff;

            #havealook {
                opacity: 0;
            }

            #inside {
                opacity: 0;
            }
        }

        #s3ImgsWindow {
            width: 100vw;
            height: 115vw;
            margin-bottom: 40px;
            display: flex;
            overflow: hidden;

            #s3ImgsCont {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                grid-gap: 30px;
                transition: all 0.6s $slideSmooth1;
     
                img.s3Img {
                    width: 73vw;
                    height: 115vw;
                    object-fit: cover;
                }
     
                img.s3Img:first-of-type {
                    padding-left: 13.5vw;
                }
     
                img.s3Img:last-of-type {
                    padding-right: 13.5vw;
                }
            }

            #s3ImgsArrows {
                position: absolute;
                height: 115vw;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #s3ImgsLeft {
                    height: 14vw;
                    padding-left: 11vw;
                }

                #s3ImgsRight {
                    height: 14vw;
                    padding-right: 11vw;
                }  
            }
        } 

        #s3Caption2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 50px;
            @include avertaReg;
            font-size: 8vw;
            color: #fff;

            #andgetdeeper {
                opacity: 0;
            }

            #withvirtualtour {
                opacity: 0;
            }
        }

        #s3virtualTour {
            width: 100vw;
            height: 125vw;
            background-color:#bbbbbb;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;

            #s3vtStatus {
                width: 10%;
               
            }
        }
    }

    #screen4 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        background-color: #dbb591;

        #s4Caption {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 40px;
            @include avertaReg;
            font-size: 8vw;
            color: #fff;
        }

        .s4personBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 85vw;

            .s4personImg {
                width: 60vw;
                border-radius: 60px;
                margin-bottom: 6px;
            }

            .s4personName {
                @include avertaSemi;
                color: #fff;
                font-size: 8vw;
                margin-bottom: -2px;
            }

            .s4personPosition {
                @include avertaLight;
                color: #fff;
                font-size: 6.5vw;
                margin-bottom: 2px;
            }

            .s4personText {
                @include sourcesansReg;
                text-align: center;
                color: #fff;
                font-size: 6vw;
                margin-bottom: 40px;
            }
        }
    }

    #screen5 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        #desktopappBox {
            width: 85vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 50px;
            margin-bottom: 20px;

            #s5Caption {
                text-align: center;
                @include sourcesansReg;
                font-size: 7vw;
                color: $textOrange1;
                margin-bottom: 30px;
            }

            #s5buttonDesktop {
                width: 40vw;
                height: 60px;
            }
        }

        #mobileappBox {
            width: 85vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 50px;
            margin-bottom: 50px;

            #s5Caption2 {
                text-align: center;
                @include sourcesansReg;
                font-size: 7vw;
                color: $textOrange1;
                margin-bottom: 30px;
            }

            #s5buttonMobile {
                width: 40vw;
                height: 60px;
            }
        }

        #s5feedbackBox {
            width: 85vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            
            #s5Caption3 {
                text-align: center;
                @include avertaReg;
                font-size: 7vw;
            }
        }
    }
    
}