@import 'stylesCommon.scss';

$fontsizeCaption1: 30px;
$fontsizeCaption2: 24px;
$fontsizeTextOrdinary1: 18px;
$cursorPointer: url('images/cursorPointer.png'), auto;
$cursorHand: url('images/cursorHand.png'), auto;
$gradientRotate1: cubic-bezier(0.44, 0.28, 0.6, 0.77);

// scrollbar

::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: $textOrange1;
}

// components

.buttonOrange1 {
    border: 2px solid $textOrange1;
    border-radius: 20px;
    font-size: 26px;
    color: $textOrange1;
    background-color: #fff;
    transition-property: color, background-color;
    transition-duration: 0.7s;
    transition-delay: 0s;
    transition-timing-function: $slideHarsh1;
    cursor: $cursorHand;
    @include avertaReg;
}

.buttonOrange1:hover {
    color: #fff;
    background-color: $textOrange1;
    transition-property: color, background-color;
    transition-duration: 0.7s;
    transition-delay: 0s;
    transition-timing-function: $slideHarsh1;
}

// styles beginning

html {
    font-size: 32px;
}

#body {
    overflow-x: hidden;
    cursor: $cursorPointer;
}

#header {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 48px;
    background: linear-gradient(90deg, hsl(35deg 100% 61%) 0%, hsl(20deg 79% 54%) 50%, hsl(0deg 76% 51%) 100%);
    cursor: $cursorPointer;

    #headerLogo {
        margin-top: 8px;
        margin-left: 16vw;
        width: 9.2vh;
    }

    #headerMenuIconCont {

        #headerMenuIcon {
            margin-top: 7px;
            margin-right: 38px;
            width: 3vh;
        }
    }   
}

// keyframes for screen1 container

@keyframes s1Arrow {
    0% {bottom: 30px; opacity: 0.5;}
    80% {opacity: 1;}
    100% {bottom: 0px;}
}

@keyframes s1Cloud {
    100% {right: 0vw;}
}

@keyframes s1Solutions {
    100% {left: 0vw;}
}

@keyframes opacity0to1 {
    0% {opacity: 0;};
    100% {opacity: 1;};
}

#screen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-image: url(images/bg1.jpg);
    background-position: center;
    background-size: auto 110%;

    #s1Caption {
        margin: 0 auto;
        width: 80%;
    }

    #s1CaptionTop {
        font-size: 64px;
        line-height: 76px;
        text-align: center;
        color: #fff;
        @include avertaSemi;

        #s1Cloud {
            position: relative;
            right: 100vw;  
            
        }

        #s1Solutions {
            position: relative;
            left: 100vw;
            
        }

    }

    #s1CaptionSub {
        font-size: 36px;
        text-align: center;
        color: #fff;
        @include avertaLight;

        #s1Foreveryone {
            opacity: 0;
            
        }
    }

    #s1Arrow {
        position: relative;
        margin-top: 32vh;
        margin-bottom: 2vh;
        width: 60px;
        animation-name: s1Arrow;
        animation-duration: 1.2s;
        animation-timing-function: $slideHarsh1;
        animation-iteration-count: infinite;
    }
}

// screen 2 styles start

#screen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 36px;
    width: 100vw;

    #s2Caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        #s2Thepowerof {
            margin-bottom: 14px;
            font-size: $fontsizeCaption1;
            text-align: center;
            color: $textOrange1;
            @include avertaReg;
        }

        #s2Logo {
            width: 180px;
            opacity: 0;
            
        }
    }

    #s2FeaturesWindow {
        margin: 0 auto;
        
        margin-top: 40px;
        margin-bottom: 50px;
        width: 100vw;

        #s2FeaturesCont {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 328px);
            margin-top: 50px;
            padding-bottom: 40px;
            transition: all 0.7s $slideSmooth1;

            .s2FeatureBlock {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 28px;

                img.s2FeatureImg {
                    width: 116px;
                    
                }

                .s2FeatureCaption {
                    margin-bottom: 8px;
                    font-size: 38px;
                    text-align: center;
                    color: $textOrange1;
                    @include avertaSemi;
                }

                .s2CaptionAnno {
                    width: 294px;
                    font-size: $fontsizeTextOrdinary1;
                    text-align: center;
                    color: $textBlack1;
                    @include sourcesansReg; 
                }
            }
        }
    }

    #s2Buttons {
        display: none;
        
    }

    #s2Button {
        margin-bottom: 60px;
        border-radius: 40px;
        width: 200px;
        height: 60px;
        font-size: 26px;
        line-height: 56px;
        text-align: center;
        color: #fff;
        background: $brandGradient1rev;
        cursor: $cursorHand;
        @include avertaReg;
    }
}

#screen3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: #dbb591;
    
    #s3Caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: $fontsizeCaption1;
        color: #fff;
        @include avertaReg;

        #s3Havealook {
            opacity: 0;
        }

        #s3Inside {
            opacity: 0;
        }
    }

    #s3ImgsWindow {
        display: flex;
        overflow: hidden;
        
        margin-bottom: 10px;
        width: 100vw;
        max-width: 1220px;

        #s3ImgsCont {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            grid-gap: 40px;
            overflow-x: scroll;
            overflow-y: hidden;
            margin-top: 32px;
            margin-bottom: 20px;
            transition: all 0.6s $slideSmooth1;
 
            img.s3Img {
                width: 380px;
                height: 510px;
                object-fit: cover;
            }
        }

        #s3ImgsArrows {
            display: none;
         
        }
    } 

    #s3Caption2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 50px;
        font-size: $fontsizeCaption1;
        color: #fff;
        @include avertaReg;

        #andgetdeeper {
            opacity: 0;
        }

        #withvirtualtour {
            opacity: 0;
        }
    }

    #s3virtualTour {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        width: 100vw;
        height: 80vh;
        min-height: 540px;
        max-width: 1220px;
        background-color:#adabab;

        #s3vtStatus {
            width: 40px;
        }
    }
}

#screen4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100vw;
    background-color: #dbb591;

    #s4Caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 60px;
        font-size: $fontsizeCaption1;
        color: #fff;
        @include avertaReg;
    }

    #s4teamCont {
        display: grid;
        align-items: flex-start;
        justify-items: center;
        grid-gap: 40px;
        grid-template-columns: repeat(3, 300px);
        margin-bottom: 40px;

        .s4personBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 300px;
    
            .s4personImg {
                margin-bottom: 12px;
                border-radius: 60px;
                width: 240px;
            }
    
            .s4personName {
                @include avertaSemi;
                font-size: $fontsizeCaption1;
                color: #fff;
            }
    
            .s4personPosition {
                @include avertaLight;
                margin-top: -4px;
                margin-bottom: 8px;
                font-size: $fontsizeCaption2;
                color: #fff;
            }
    
            .s4personText {
                @include sourcesansReg;
                font-size: $fontsizeTextOrdinary1;
                text-align: center;
                color: #fff;
            }
        }
    }
}

#screen5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    
    #desktopappBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 32px;
        margin-bottom: 10px;
        width: 85vw;

        #s5Caption {
            margin-bottom: 20px;
            font-size: $fontsizeCaption2;
            text-align: center;
            color: $textOrange1;
            @include sourcesansReg;
        }

        #s5buttonDesktop {
            width: 180px;
            height: 54px;
        }
    }

    #mobileappBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 85vw;

        #s5Caption2 {
            margin-bottom: 30px;
            font-size: $fontsizeCaption2;
            text-align: center;
            color: $textOrange1;
            @include sourcesansReg;
        }

        #s5buttonMobile {
            width: 180px;
            height: 54px;
        }
    }

    #s5feedbackBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        
        #s5Caption3 {
            margin-bottom: 44px;
            font-size: $fontsizeCaption1;
            text-align: center;
            @include avertaReg;
        }

        #s5feedbackWindow {
            display: flex;
            overflow-x: hidden;
            
            overflow-y: hidden;
            width: 100vw;
            max-width: 960px;

            #s5feedbackCont {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                grid-gap: 80px;
                overflow-x: scroll;
                overflow-y: hidden;
                margin-bottom: 40px;
                padding-bottom: 40px;
                width: 100vw;
                max-width: 960px;
                transition: all 0.6s $slideSmooth1;

                .s5feedbackItem {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .s5feedbackName {
                        @include avertaLight;
                        margin-bottom: 6px;
                        font-size: 26px;
                        color: $textOrange1;
                    }

                    .s5feedbackText {
                        @include sourcesansReg;
                        margin-bottom: 8px;
                        width: 300px;
                        font-size: $fontsizeTextOrdinary1;
                        
                    }
                    
                    .s5feedbackCompany {
                        @include avertaLight;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 26px;
                        color: orange;
                    }
                }
            }
        }

        #s5Buttons {
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            #s5ArrowLeft {
                margin-right: 30px;
                height: 9vw;
            }

            #s5ArrowRight {
                margin-left: 30px;
                height: 9vw;
            }
        }
    }

    #s5PartnersBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 52vw;

        #s5PartnersCaption {
            @include avertaSemi;
            font-size: $fontsizeCaption1;
            color: $textOrange1;
        }

        #s5PartnersCont {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            overflow-x: scroll;
            overflow-y: hidden;
            margin-bottom: 32px;
            width: 52vw;
            gap: 58px;

            img.s5PartnersLogo {
                width: 140px;
            }

            

            #logoLacoste1 {
                width: 126px !important;
            }

            #logoHuawei1 {
                width: 80px !important;
            }

        }
    }
}    

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: #adabab;


    #fBlock1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 16px;
        width: 24vw;

        #fB1Slogan {
            @include sourcesansReg;
            font-size: 26px;
            line-height: 22px;
            color: white;
            
        } 
        
        
        #fB1Logo {
            padding-top: 4px;
            width: 10vh;
            
        }

            
    }

    #fBlock2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 80vw;

        #fB2Email {
            @include avertaLight;
            margin-right: 46px;
            font-size: 22px;
            color: white;
            
        }

            

        #fB2phone {
            @include avertaLight;
            font-size: 22px;
            color: white;
            
        }

            
    }

    #fBlock3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 6px;
        width: 80vw;

        #fB3Address {
            @include avertaSemi;
            font-size: 22px;
            text-align: center;
            color: white;
            
        }

            
    }
    #fBlock4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2px;
        width: 14vw;

        img.fB4Icon {
            height: 40px;
            cursor: $cursorHand;
            
        }

            
    }

    #fBlock5 {
        margin-bottom: 24px;
        width: 56vw;
        
        #fB5Tothetop {
            @include sourcesansReg;
            font-size: 22px;
            text-align: center;
            color: #fff;
            cursor: $cursorHand;
            
        }
    }
}
