p {
  margin: 0;
}

span {
  display: inline-block;
}

#body {
  background-color: #fff;
  margin: 0;
}

@font-face {
  src: url(fonts/avertaRegular.otf);
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(fonts/avertaRegularIt.otf);
  font-family: "Averta";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url(fonts/avertaSemibold.otf);
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(fonts/avertaLight.otf);
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(fonts/sourcesansRegular.ttf);
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
}
.buttonOrange1 {
  border: 2px solid #ec831a;
  border-radius: 20px;
  color: #ec831a;
  background-color: #fff;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  transition-property: color, background-color;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.53, 0.02, 0.32, 1);
  transition-delay: 0s;
}

.buttonOrange1:hover {
  background-color: #ec831a;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.53, 0.02, 0.32, 1);
  transition-delay: 0s;
}

@media (max-width: 490px) {
  html {
    font-size: 32px;
  }

  #body {
    overflow-x: hidden;
  }

  #header {
    width: 100vw;
    height: 58px;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #ffac38 0%, #e66b2d 50%, #e12323 100%);
  }
  #header #headerLogoCont {
    margin-left: 50px;
  }
  #header #headerLogo {
    width: 100px;
    margin-top: 8px;
    margin-left: 10px;
  }
  #header #headerMenuIconCont {
    margin-right: 24px;
  }
  #header #headerMenuIconCont #headerMenuIcon {
    width: 32px;
    margin-top: 7px;
  }

  @keyframes s1Arrow {
    0% {
      bottom: 30px;
      opacity: 0.5;
    }
    80% {
      opacity: 1;
    }
    100% {
      bottom: 0px;
    }
  }
  @keyframes s1Cloud {
    100% {
      right: 0vw;
    }
  }
  @keyframes s1Solutions {
    100% {
      left: 0vw;
    }
  }
  @keyframes opacity0to1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #screen1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(images/bg1.jpg);
    background-position: center;
    background-size: auto 100%;
  }
  #screen1 #s1Caption {
    margin: 0 auto;
    width: 80%;
  }
  #screen1 #s1CaptionTop {
    font-size: 14vw;
    line-height: 15vw;
    color: #fff;
    text-align: center;
    font-family: "Averta";
    font-weight: 500;
    font-style: normal;
  }
  #screen1 #s1CaptionTop #s1Cloud {
    position: relative;
    right: 100vw;
  }
  #screen1 #s1CaptionTop #s1Solutions {
    position: relative;
    left: 100vw;
  }
  #screen1 #s1CaptionSub {
    font-size: 7.5vw;
    color: #fff;
    text-align: center;
    font-family: "Averta";
    font-weight: 300;
    font-style: normal;
  }
  #screen1 #s1CaptionSub #s1Foreveryone {
    opacity: 0;
  }
  #screen1 #s1Arrow {
    position: relative;
    width: 16vw;
    margin-top: 27vh;
    margin-bottom: 4vh;
    animation-name: s1Arrow;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.53, 0.02, 0.32, 1);
    animation-iteration-count: infinite;
  }

  #screen2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 36px;
  }
  #screen2 #s2Caption {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #screen2 #s2Caption #s2Thepowerof {
    font-size: 7vw;
    text-align: center;
    font-family: "Averta";
    font-weight: 400;
    font-style: normal;
    color: #ec831a;
    margin-bottom: 14px;
  }
  #screen2 #s2Caption #s2Logo {
    width: 40vw;
    opacity: 0;
  }
  #screen2 #s2FeaturesWindow {
    width: 86%;
    display: flex;
    grid-gap: 80px;
    margin-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  #screen2 #s2FeaturesWindow #s2FeaturesCont {
    display: flex;
    grid-gap: 80px;
    transition: all 0.7s cubic-bezier(0.69, 0, 0.32, 1);
  }
  #screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock img.s2FeatureImg {
    width: 38vw;
    margin-bottom: 8px;
  }
  #screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock .s2FeatureCaption {
    font-size: 10vw;
    color: #ec831a;
    text-align: center;
    font-family: "Averta";
    font-weight: 500;
    font-style: normal;
    margin-bottom: 8px;
  }
  #screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock .s2CaptionAnno {
    width: 86vw;
    font-size: 5.3vw;
    color: #1b1b1b;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
  }
  #screen2 #s2Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  #screen2 #s2Buttons #s2ArrowLeft {
    height: 10vw;
    margin-right: 30px;
  }
  #screen2 #s2Buttons #s2ArrowRight {
    height: 10vw;
    margin-left: 30px;
  }
  #screen2 #s2Button {
    width: 56vw;
    height: 64px;
    margin-bottom: 80px;
    border-radius: 40px;
    background: linear-gradient(270deg, #ffac38 0%, #e66b2d 50%, #e12323 100%);
    text-align: center;
    line-height: 60px;
    font-size: 7vw;
    font-family: "Averta";
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }

  #screen3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #dbb591;
  }
  #screen3 #s3Caption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Averta";
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    color: #fff;
  }
  #screen3 #s3Caption #s3Havealook {
    opacity: 0;
  }
  #screen3 #s3Caption #s3Inside {
    opacity: 0;
  }
  #screen3 #s3ImgsWindow {
    width: 100vw;
    height: 115vw;
    margin-bottom: 40px;
    display: flex;
    overflow: hidden;
  }
  #screen3 #s3ImgsWindow #s3ImgsCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 30px;
    transition: all 0.6s cubic-bezier(0.69, 0, 0.32, 1);
  }
  #screen3 #s3ImgsWindow #s3ImgsCont img.s3Img {
    width: 73vw;
    height: 115vw;
    object-fit: cover;
  }
  #screen3 #s3ImgsWindow #s3ImgsCont img.s3Img:first-of-type {
    padding-left: 13.5vw;
  }
  #screen3 #s3ImgsWindow #s3ImgsCont img.s3Img:last-of-type {
    padding-right: 13.5vw;
  }
  #screen3 #s3ImgsWindow #s3ImgsArrows {
    position: absolute;
    height: 115vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #screen3 #s3ImgsWindow #s3ImgsArrows #s3ImgsLeft {
    height: 12vw;
    padding-left: 11vw;
  }
  #screen3 #s3ImgsWindow #s3ImgsArrows #s3ImgsRight {
    height: 12vw;
    padding-right: 11vw;
  }
  #screen3 #s3Caption2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    font-family: "Averta";
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    color: #fff;
  }
  #screen3 #s3Caption2 #andgetdeeper {
    opacity: 0;
  }
  #screen3 #s3Caption2 #withvirtualtour {
    opacity: 0;
  }
  #screen3 #s3virtualTour {
    width: 100vw;
    height: 125vw;
    background-color: #adabab;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  #screen3 #s3virtualTour #s3vtStatus {
    width: 8%;
  }

  #screen4 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: #dbb591;
  }
  #screen4 #s4Caption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    font-family: "Averta";
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    color: #fff;
  }
  #screen4 .s4personBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85vw;
  }
  #screen4 .s4personBox .s4personImg {
    width: 58vw;
    border-radius: 60px;
    margin-bottom: 6px;
  }
  #screen4 .s4personBox .s4personName {
    font-family: "Averta";
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 8vw;
    margin-bottom: -2px;
  }
  #screen4 .s4personBox .s4personPosition {
    font-family: "Averta";
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 6.3vw;
    margin-bottom: 8px;
  }
  #screen4 .s4personBox .s4personText {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
    font-size: 5.3vw;
    margin-bottom: 40px;
  }

  #screen5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #screen5 #desktopappBox {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #screen5 #desktopappBox #s5Caption {
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 5.3vw;
    color: #ec831a;
    margin-bottom: 20px;
  }
  #screen5 #desktopappBox #s5buttonDesktop {
    width: 34vw;
    height: 52px;
  }
  #screen5 #mobileappBox {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #screen5 #mobileappBox #s5Caption2 {
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 5.3vw;
    color: #ec831a;
    margin-bottom: 30px;
  }
  #screen5 #mobileappBox #s5buttonMobile {
    width: 34vw;
    height: 52px;
  }
  #screen5 #s5feedbackBox {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #screen5 #s5feedbackBox #s5Caption3 {
    text-align: center;
    font-family: "Averta";
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    margin-bottom: 30px;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow {
    width: 100vw;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont {
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 30px;
    transition: all 0.6s cubic-bezier(0.69, 0, 0.32, 1);
    margin-bottom: 30px;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem .s5feedbackName {
    font-family: "Averta";
    font-weight: 300;
    font-style: normal;
    font-size: 6.5vw;
    color: #ec831a;
    margin-bottom: 6px;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem .s5feedbackText {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    margin-bottom: 8px;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem .s5feedbackCompany {
    font-family: "Averta";
    font-weight: 300;
    font-style: normal;
    font-size: 6vw;
    color: orange;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5Buttons #s5ArrowLeft {
    height: 12vw;
    margin-right: 30px;
  }
  #screen5 #s5feedbackBox #s5feedbackWindow #s5Buttons #s5ArrowRight {
    height: 12vw;
    margin-left: 30px;
  }
  #screen5 #s5PartnersBox {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #screen5 #s5PartnersBox #s5PartnersCaption {
    font-family: "Averta";
    font-weight: 500;
    font-style: normal;
    font-size: 8vw;
    color: #ec831a;
    margin-bottom: 40px;
  }
  #screen5 #s5PartnersBox #s5PartnersCont {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  #screen5 #s5PartnersBox #s5PartnersCont img.s5PartnersLogo {
    width: 140px;
  }
  #screen5 #s5PartnersBox #s5PartnersCont img.s5PartnersLogo:first-of-type {
    margin-left: 80px;
  }
  #screen5 #s5PartnersBox #s5PartnersCont img.s5PartnersLogo:last-of-type {
    margin-right: 80px;
  }

  footer {
    width: 100vw;
    background-color: #adabab;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  footer #fBlock1 {
    width: 66vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  footer #fBlock1 #fB1Slogan {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 5.3vw;
    color: white;
    line-height: 22px;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock1 #fB1Slogan:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock1 #fB1Logo {
    width: 100px;
    padding-top: 4px;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock1 #fB1Logo:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock2 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
  }
  footer #fBlock2 #fB2Email {
    font-family: "Averta";
    font-weight: 300;
    font-style: normal;
    font-size: 5vw;
    color: white;
    margin-bottom: 6px;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock2 #fB2Email:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock2 #fB2phone {
    font-family: "Averta";
    font-weight: 300;
    font-style: normal;
    font-size: 5vw;
    color: white;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock2 #fB2phone:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock3 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
  }
  footer #fBlock3 #fB3Address {
    font-family: "Averta";
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    color: white;
    text-align: center;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock3 #fB3Address:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock4 {
    width: 56vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  footer #fBlock4 img.fB4Icon {
    height: 40px;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock4 img.fB4Icon:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
  footer #fBlock5 {
    width: 56vw;
    margin-bottom: 40px;
  }
  footer #fBlock5 #fB5Tothetop {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 5.3vw;
    color: #fff;
    text-align: center;
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.26, 0, 0.32, 1);
    transition-delay: 0s;
  }
}

/*# sourceMappingURL=stylesMobile.css.map */
