p {
  margin: 0;
}

span {
  display: inline-block;
}

#body {
  background-color: #fff;
  margin: 0;
}

@font-face {
  src: url(fonts/avertaRegular.otf);
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(fonts/avertaRegularIt.otf);
  font-family: "Averta";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url(fonts/avertaSemibold.otf);
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(fonts/avertaLight.otf);
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(fonts/sourcesansRegular.ttf);
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
}
.buttonOrange1 {
  border: 2px solid #ec8218;
  border-radius: 20px;
  color: #ec8218;
  background-color: #fff;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  transition-property: color, background-color;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.53, 0.02, 0.32, 1);
  transition-delay: 0s;
}

.buttonOrange1:hover {
  background-color: #ec8218;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.53, 0.02, 0.32, 1);
  transition-delay: 0s;
}

html {
  font-size: 32px;
}

#body {
  overflow-x: hidden;
}

#header {
  width: 100vw;
  height: 5.2vh;
  min-height: 45px;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ffac38 0%, #e66b2d 50%, #e12323 100%);
}
#header #headerLogoCont {
  margin-left: 50px;
}
#header #headerLogo {
  width: 9.2vh;
  margin-top: 8px;
  margin-left: 9vw;
}
#header #headerMenuIconCont {
  margin-right: 22px;
}
#header #headerMenuIconCont #headerMenuIcon {
  width: 3vh;
  margin-top: 7px;
}

@keyframes s1Arrow {
  0% {
    bottom: 30px;
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes s1Cloud {
  100% {
    right: 0vw;
  }
}
@keyframes s1Solutions {
  100% {
    left: 0vw;
  }
}
@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#screen1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(images/bg1.jpg);
  background-position: center;
  background-size: auto 100%;
}
#screen1 #s1Caption {
  margin: 0 auto;
  width: 80%;
}
#screen1 #s1CaptionTop {
  font-size: 76px;
  line-height: 84px;
  color: #fff;
  text-align: center;
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
}
#screen1 #s1CaptionTop #s1Cloud {
  position: relative;
  right: 100vw;
}
#screen1 #s1CaptionTop #s1Solutions {
  position: relative;
  left: 100vw;
}
#screen1 #s1CaptionSub {
  font-size: 42px;
  color: #fff;
  text-align: center;
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
}
#screen1 #s1CaptionSub #s1Foreveryone {
  opacity: 0;
}
#screen1 #s1Arrow {
  position: relative;
  width: 72px;
  margin-top: 34vh;
  margin-bottom: 2vh;
  animation-name: s1Arrow;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.53, 0.02, 0.32, 1);
  animation-iteration-count: infinite;
}

#screen2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 36px;
}
#screen2 #s2Caption {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
#screen2 #s2Caption #s2Thepowerof {
  font-size: 34px;
  text-align: center;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  color: #ec8218;
  margin-bottom: 14px;
}
#screen2 #s2Caption #s2Logo {
  width: 222px;
  opacity: 0;
}
#screen2 #s2FeaturesWindow {
  width: 100vw;
  display: flex;
  grid-gap: 80px;
  margin-top: 40px;
  margin-bottom: 50px;
  overflow: hidden;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont {
  display: flex;
  grid-gap: 56px;
  transition: all 0.7s cubic-bezier(0.69, 0, 0.32, 1);
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 20px;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock img.s2FeatureImg {
  width: 168px;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock .s2FeatureCaption {
  font-size: 50px;
  color: #ec8218;
  text-align: center;
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
  margin-top: -8px;
  margin-bottom: 8px;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock .s2CaptionAnno {
  width: 388px;
  font-size: 24px;
  color: #1b1b1b;
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock:first-child {
  margin-left: 80px;
}
#screen2 #s2FeaturesWindow #s2FeaturesCont .s2FeatureBlock:last-child {
  margin-right: 80px;
}
#screen2 #s2Buttons {
  display: none;
}
#screen2 #s2Button {
  width: 270px;
  height: 72px;
  margin-bottom: 60px;
  border-radius: 40px;
  background: linear-gradient(270deg, #ffac38 0%, #e66b2d 50%, #e12323 100%);
  text-align: center;
  line-height: 64px;
  font-size: 34px;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

#screen3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #dbb591;
}
#screen3 #s3Caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #fff;
}
#screen3 #s3Caption #s3Havealook {
  opacity: 0;
}
#screen3 #s3Caption #s3Inside {
  opacity: 0;
}
#screen3 #s3ImgsWindow {
  width: 100vw;
  height: 700px;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
}
#screen3 #s3ImgsWindow #s3ImgsCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 60px;
  transition: all 0.6s cubic-bezier(0.69, 0, 0.32, 1);
  overflow-y: hidden;
  overflow-x: scroll;
}
#screen3 #s3ImgsWindow #s3ImgsCont img.s3Img {
  width: 480px;
  height: 620px;
  object-fit: cover;
}
#screen3 #s3ImgsWindow #s3ImgsCont img.s3Img:first-of-type {
  padding-left: 60px;
}
#screen3 #s3ImgsWindow #s3ImgsCont img.s3Img:last-of-type {
  padding-right: 60px;
}
#screen3 #s3ImgsWindow #s3ImgsArrows {
  display: none;
}
#screen3 #s3Caption2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #fff;
}
#screen3 #s3Caption2 #andgetdeeper {
  opacity: 0;
}
#screen3 #s3Caption2 #withvirtualtour {
  opacity: 0;
}
#screen3 #s3virtualTour {
  width: 100vw;
  height: 86vh;
  background-color: #adabab;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#screen3 #s3virtualTour #s3vtStatus {
  width: 40px;
}

#screen4 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  background-color: #dbb591;
}
#screen4 #s4Caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #fff;
}
#screen4 .s4personBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 490px;
}
#screen4 .s4personBox .s4personImg {
  width: 360px;
  border-radius: 60px;
  margin-bottom: 12px;
}
#screen4 .s4personBox .s4personName {
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 40px;
}
#screen4 .s4personBox .s4personPosition {
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 32px;
  margin-bottom: 8px;
  margin-top: -4px;
}
#screen4 .s4personBox .s4personText {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 56px;
}

#screen5 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#screen5 #desktopappBox {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 28px;
  margin-bottom: 20px;
}
#screen5 #desktopappBox #s5Caption {
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #ec8218;
  margin-bottom: 20px;
}
#screen5 #desktopappBox #s5buttonDesktop {
  width: 200px;
  height: 60px;
}
#screen5 #mobileappBox {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  margin-bottom: 32px;
}
#screen5 #mobileappBox #s5Caption2 {
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #ec8218;
  margin-bottom: 30px;
}
#screen5 #mobileappBox #s5buttonMobile {
  width: 200px;
  height: 60px;
}
#screen5 #s5feedbackBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#screen5 #s5feedbackBox #s5Caption3 {
  text-align: center;
  font-family: "Averta";
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  margin-bottom: 44px;
}
#screen5 #s5feedbackBox #s5feedbackWindow {
  width: 100vw;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 60px;
  transition: all 0.6s cubic-bezier(0.69, 0, 0.32, 1);
  margin-bottom: 44px;
  overflow-y: hidden;
  overflow-x: scroll;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem .s5feedbackName {
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: #ec8218;
  margin-bottom: 6px;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem .s5feedbackText {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 8px;
  width: 400px;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem .s5feedbackCompany {
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem:first-of-type {
  margin-left: 90px;
}
#screen5 #s5feedbackBox #s5feedbackWindow #s5feedbackCont .s5feedbackItem:last-of-type {
  margin-right: 90px;
}
#screen5 #s5feedbackBox #s5Buttons {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#screen5 #s5feedbackBox #s5Buttons #s5ArrowLeft {
  height: 9vw;
  margin-right: 30px;
}
#screen5 #s5feedbackBox #s5Buttons #s5ArrowRight {
  height: 9vw;
  margin-left: 30px;
}
#screen5 #s5PartnersBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#screen5 #s5PartnersBox #s5PartnersCaption {
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
  font-size: 34px;
  color: #ec8218;
}
#screen5 #s5PartnersBox #s5PartnersCont {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 74px;
  overflow-y: hidden;
  overflow-x: scroll;
}
#screen5 #s5PartnersBox #s5PartnersCont img.s5PartnersLogo {
  width: 160px;
}
#screen5 #s5PartnersBox #s5PartnersCont #logoPhilips1 {
  margin-left: 80px;
}
#screen5 #s5PartnersBox #s5PartnersCont #logoCitibank1 {
  margin-right: 80px;
}
#screen5 #s5PartnersBox #s5PartnersCont #logoLacoste1 {
  width: 142px !important;
}
#screen5 #s5PartnersBox #s5PartnersCont #logoHuawei1 {
  width: 90px !important;
}

footer {
  width: 100vw;
  background-color: #adabab;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer #fBlock1 {
  width: 50vw;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 16px;
}
footer #fBlock1 #fB1Slogan {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: white;
  line-height: 22px;
}
footer #fBlock1 #fB1Logo {
  width: 9.2vh;
  min-width: 92px;
  padding-top: 4px;
}
footer #fBlock2 {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
footer #fBlock2 #fB2Email {
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: white;
  margin-right: 40px;
}
footer #fBlock2 #fB2phone {
  font-family: "Averta";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: white;
}
footer #fBlock3 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}
footer #fBlock3 #fB3Address {
  font-family: "Averta";
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: white;
  text-align: center;
}
footer #fBlock4 {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
footer #fBlock4 img.fB4Icon {
  height: 40px;
}
footer #fBlock5 {
  width: 56vw;
  margin-bottom: 32px;
}
footer #fBlock5 #fB5Tothetop {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=stylesTablet.css.map */
