@import 'stylesCommon.scss';

// components 

.buttonOrange1 {
    border: 2px solid $textOrange1;
    border-radius: 20px;
        color: $textOrange1;
        background-color: #fff;
    @include avertaReg;
    font-size: 5vw;
    transition-property: color, background-color;
    transition-duration: 0.7s;
    transition-timing-function: $slideHarsh1;
    transition-delay: 0s;
}

    .buttonOrange1:hover {
        background-color: $textOrange1;
        color: #fff;
        transition-property: color, background-color;
        transition-duration: 0.7s;
        transition-timing-function: $slideHarsh1;
        transition-delay: 0s;
    }

// styles beginning

@media (max-width: 490px) {
    html {
        font-size: 32px;
    }

    #body {
        overflow-x: hidden;
    }

    #header {
        width: 100vw;
        height: 58px;
        position: fixed;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, hsl(35deg 100% 61%) 0%, hsl(20deg 79% 54%) 50%, hsl(0deg 76% 51%) 100%);

        #headerLogoCont {
            margin-left: 50px;
        }

        #headerLogo {
            width: 100px;
            margin-top: 8px;
            margin-left: 10px;
        }

        #headerMenuIconCont {
            margin-right: 24px;

            #headerMenuIcon {
                width: 32px;
                margin-top: 7px;
            }
        }   
    }

    // keyframes for screen1 container

    @keyframes s1Arrow {
        0% {bottom: 30px; opacity: 0.5;}
        80% {opacity: 1;}
        100% {bottom: 0px;}
    }

    @keyframes s1Cloud {
        100% {right: 0vw;}
    }

    @keyframes s1Solutions {
        100% {left: 0vw;}
    }

    @keyframes opacity0to1 {
        0% {opacity: 0;};
        100% {opacity: 1;};
    }

    #screen1 {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-image: url(images/bg1.jpg);
        background-position: center;
        background-size: auto 100%;

        #s1Caption {
            margin: 0 auto;
            width: 80%;
        }

        #s1CaptionTop {
            font-size: 14vw;
            line-height: 15vw;
            color: #fff;
            text-align: center;
            @include avertaSemi;

            #s1Cloud {
                position: relative;
                right: 100vw;  
                // js function s1Animate() after onload
            }

            #s1Solutions {
                position: relative;
                left: 100vw;
                // js function s1Animate() after onload
            }

        }

        #s1CaptionSub {
            font-size: 7.5vw;
            color: #fff;
            text-align: center;
            @include avertaLight;

            #s1Foreveryone {
                opacity: 0;
                // js function s1Animate() after onload
            }
        }

        #s1Arrow {
            position: relative;
            width: 16vw;
            margin-top: 27vh;
            margin-bottom: 4vh;
            animation-name: s1Arrow;
            animation-duration: 1.2s;
            animation-timing-function: $slideHarsh1;
            animation-iteration-count: infinite;
        }
    }

    // screen 2 styles start

    #screen2 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 36px;

        #s2Caption {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            #s2Thepowerof {
                font-size: 7vw;
                text-align: center;
                @include avertaReg;
                color: $textOrange1;
                margin-bottom: 14px;
            }

            #s2Logo {
                width: 40vw;
                opacity: 0;
                // js function s1Animate() after onload
            }
        }

        #s2FeaturesWindow {
            width: 86%;
            display: flex;
            grid-gap: 80px;
            margin-top: 40px;
            margin-bottom: 30px;
            overflow: hidden;

            #s2FeaturesCont {
                display: flex;
                // flex-direction: row;
                // justify-content: flex-start;
                // align-items: center;
                grid-gap: 80px;
                transition: all 0.7s $slideSmooth1;
                // overflow: hidden;
    
                .s2FeatureBlock {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    // margin-right: 80px;
                    // last .s2FeatureBlock has m-right: 0px, style below
    
                    img.s2FeatureImg {
                        width: 38vw;
                        margin-bottom: 8px;
                    }
    
                    .s2FeatureCaption {
                        font-size: 10vw;
                        color: $textOrange1;
                        text-align: center;
                        @include avertaSemi;
                        margin-bottom: 8px;
                    }
    
                    .s2CaptionAnno {
                        width: 86vw;
                        font-size: 5.3vw;
                        color: $textBlack1;
                        text-align: center;
                        @include sourcesansReg; 
                    }
                }
    
                // .s2FeatureBlock:last-of-type {
                //     margin-right: 0px;
                // }
            }

        }

        #s2Buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom:80px;

            #s2ArrowLeft {
                height: 10vw;
                margin-right: 30px;
            }

            #s2ArrowRight {
                height: 10vw;
                margin-left: 30px;
            }
        }

        #s2Button {
            width: 56vw;
            height: 64px;
            margin-bottom: 80px;
            border-radius: 40px;
            background: $brandGradient1rev;
            text-align: center;
            line-height: 60px;
            font-size: 7vw;
            @include avertaReg;
            color: #fff;
        }
    }

    #screen3 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #dbb591;
        
        #s3Caption {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 40px;
            @include avertaReg;
            font-size: 7vw;
            color: #fff;

            #s3Havealook {
                opacity: 0;
            }

            #s3Inside {
                opacity: 0;
            }
        }

        #s3ImgsWindow {
            width: 100vw;
            height: 115vw;
            margin-bottom: 40px;
            display: flex;
            overflow: hidden;

            #s3ImgsCont {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                grid-gap: 30px;
                transition: all 0.6s $slideSmooth1;
     
                img.s3Img {
                    width: 73vw;
                    height: 115vw;
                    object-fit: cover;
                }
     
                img.s3Img:first-of-type {
                    padding-left: 13.5vw;
                }
     
                img.s3Img:last-of-type {
                    padding-right: 13.5vw;
                }
            }

            #s3ImgsArrows {
                position: absolute;
                height: 115vw;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                #s3ImgsLeft {
                    height: 12vw;
                    padding-left: 11vw;
                }

                #s3ImgsRight {
                    height: 12vw;
                    padding-right: 11vw;
                }  
            }
        } 

        #s3Caption2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 50px;
            @include avertaReg;
            font-size: 7vw;
            color: #fff;

            #andgetdeeper {
                opacity: 0;
            }

            #withvirtualtour {
                opacity: 0;
            }
        }

        #s3virtualTour {
            width: 100vw;
            height: 125vw;
            background-color:#adabab;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;

            #s3vtStatus {
                width: 8%;
               
            }
        }
    }

    #screen4 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        background-color: #dbb591;

        #s4Caption {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 40px;
            @include avertaReg;
            font-size: 7vw;
            color: #fff;
        }

        .s4personBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 85vw;

            .s4personImg {
                width: 58vw;
                border-radius: 60px;
                margin-bottom: 6px;
            }

            .s4personName {
                @include avertaSemi;
                color: #fff;
                font-size: 8vw;
                margin-bottom: -2px;
            }

            .s4personPosition {
                @include avertaLight;
                color: #fff;
                font-size: 6.3vw;
                margin-bottom: 8px;
            }

            .s4personText {
                @include sourcesansReg;
                text-align: center;
                color: #fff;
                font-size: 5.3vw;
                margin-bottom: 40px;
            }
        }
    }

    #screen5 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        #desktopappBox {
            width: 85vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 50px;
            margin-bottom: 20px;

            #s5Caption {
                text-align: center;
                @include sourcesansReg;
                font-size: 5.3vw;
                color: $textOrange1;
                margin-bottom: 20px;
            }

            #s5buttonDesktop {
                width: 34vw;
                height: 52px;
            }
        }

        #mobileappBox {
            width: 85vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 20px;
            margin-bottom: 50px;

            #s5Caption2 {
                text-align: center;
                @include sourcesansReg;
                font-size: 5.3vw;
                color: $textOrange1;
                margin-bottom: 30px;
            }

            #s5buttonMobile {
                width: 34vw;
                height: 52px;
            }
        }

        #s5feedbackBox {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            
            #s5Caption3 {
                text-align: center;
                @include avertaReg;
                font-size: 7vw;
                margin-bottom: 30px;
            }

            #s5feedbackWindow {
                width: 100vw;
                // height: 115vw;
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
    
                #s5feedbackCont {
                    height: 330px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    grid-gap: 30px;
                    transition: all 0.6s $slideSmooth1;
                    margin-bottom: 30px;
    
                    .s5feedbackItem {
                        width: 80vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
    
                        .s5feedbackName {
                            @include avertaLight;
                            font-size: 6.5vw;
                            color: $textOrange1;
                            margin-bottom: 6px;
                        }
    
                        .s5feedbackText {
                            @include sourcesansReg;
                            font-size: 5vw;
                            margin-bottom: 8px;
                        }
                        
                        .s5feedbackCompany {
                            @include avertaLight;
                            font-size: 6vw;
                            color: orange;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                        }
                    }
                    
                    .s5feedbackItem:first-of-type {
                        // padding-left: 40px;
                    }

                    .s5feedbackItem:last-of-type {
                        // padding-left: 40px;
                    }
                }

                #s5Buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 100px;
        
                    #s5ArrowLeft {
                        height: 12vw;
                        margin-right: 30px;
                    }
        
                    #s5ArrowRight {
                        height: 12vw;
                        margin-left: 30px;
                    }
                }
            }
        }

        #s5PartnersBox {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            #s5PartnersCaption {
                @include avertaSemi;
                font-size: 8vw;
                color: $textOrange1;
                margin-bottom: 40px;
            }

            #s5PartnersCont {
                width: 100vw;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 50px;
                overflow-y: hidden;
                overflow-x: scroll;

                img.s5PartnersLogo {
                    width: 140px;
                }

                img.s5PartnersLogo:first-of-type {
                    margin-left: 80px;
                }

                img.s5PartnersLogo:last-of-type {
                    margin-right: 80px;
                }

            }
        }
    }    

    footer {
        width: 100vw;
        background-color: #adabab;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        #fBlock1 {
            width: 66vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 16px;

            #fB1Slogan {
                @include sourcesansReg;
                font-size: 5.3vw;
                color: white;
                line-height: 22px;
                @include footerDarkenElems
            } 
            
                #fB1Slogan:hover {
                    filter: brightness(90%);
                    @include footerDarkenElems
                }
            
            #fB1Logo {
                width: 100px;
                padding-top: 4px;
                @include footerDarkenElems
            }

                #fB1Logo:hover {
                    filter: brightness(90%);
                    @include footerDarkenElems
                }
        }

        #fBlock2 {
            width: 80vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 12px;

            #fB2Email {
                @include avertaLight;
                font-size: 5vw;
                color: white;
                margin-bottom: 6px;
                @include footerDarkenElems
            }

                #fB2Email:hover {
                    filter: brightness(90%);
                    @include footerDarkenElems
                }

            #fB2phone {
                @include avertaLight;
                font-size: 5vw;
                color: white;
                @include footerDarkenElems
            }

                #fB2phone:hover {
                    filter: brightness(90%);
                    @include footerDarkenElems
                }
        }

        #fBlock3 {
            width: 80vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 12px;

            #fB3Address {
                @include avertaSemi;
                font-size: 5vw;
                color: white;
                text-align: center;
                @include footerDarkenElems
            }

                #fB3Address:hover {
                    filter: brightness(90%);
                    @include footerDarkenElems
                }
        }
        #fBlock4 {
            width: 56vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            img.fB4Icon {
                height: 40px;
                @include footerDarkenElems
            }

                img.fB4Icon:hover {
                    filter: brightness(90%);
                    @include footerDarkenElems
                }
        }

        #fBlock5 {
            width: 56vw;
            margin-bottom: 40px;
            
            #fB5Tothetop {
                @include sourcesansReg;
                font-size: 5.3vw;
                color: #fff;
                text-align: center;
                @include footerDarkenElems
            }
        }
    }
}