@import 'stylesCommon.scss';

$fontsizeCaption1: 30px;
$fontsizeCaption2: 24px;
$fontsizeTextOrdinary1: 18px;

// scrollbar

::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background: $textOrange1;
}

// components

.buttonOrange1 {
    border: 2px solid $textOrange1;
    border-radius: 20px;
        color: $textOrange1;
        background-color: #fff;
    @include avertaReg;
    font-size: 26px;
    transition-property: color, background-color;
    transition-duration: 0.7s;
    transition-timing-function: $slideHarsh1;
    transition-delay: 0s;
}

    .buttonOrange1:hover {
        background-color: $textOrange1;
        color: #fff;
        transition-property: color, background-color;
        transition-duration: 0.7s;
        transition-timing-function: $slideHarsh1;
        transition-delay: 0s;
    }

// styles beginning

html {
    font-size: 32px;
}

#body {
    overflow-x: hidden;
}

#header {
    width: 100vw;
    height: 48px;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, hsl(35deg 100% 61%) 0%, hsl(20deg 79% 54%) 50%, hsl(0deg 76% 51%) 100%);

    #headerLogo {
        width: 9.2vh;
        margin-top: 8px;
        margin-left: 16vw;
    }

    #headerMenuIconCont {
        // margin-right: 22px;

        #headerMenuIcon {
            width: 3vh;
            margin-top: 7px;
            margin-right: 38px;
        }
    }   
}

// keyframes for screen1 container

@keyframes s1Arrow {
    0% {bottom: 30px; opacity: 0.5;}
    80% {opacity: 1;}
    100% {bottom: 0px;}
}

@keyframes s1Cloud {
    100% {right: 0vw;}
}

@keyframes s1Solutions {
    100% {left: 0vw;}
}

@keyframes opacity0to1 {
    0% {opacity: 0;};
    100% {opacity: 1;};
}

#screen1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(images/bg1.jpg);
    background-position: center;
    background-size: auto 110%;

    #s1Caption {
        margin: 0 auto;
        width: 80%;
    }

    #s1CaptionTop {
        font-size: 64px;
        line-height: 76px;
        color: #fff;
        text-align: center;
        @include avertaSemi;

        #s1Cloud {
            position: relative;
            right: 100vw;  
            // js function s1Animate() after onload
        }

        #s1Solutions {
            position: relative;
            left: 100vw;
            // js function s1Animate() after onload
        }

    }

    #s1CaptionSub {
        font-size: 36px;
        color: #fff;
        text-align: center;
        @include avertaLight;

        #s1Foreveryone {
            opacity: 0;
            // js function s1Animate() after onload
        }
    }

    #s1Arrow {
        position: relative;
        width: 60px;
        margin-top: 32vh;
        margin-bottom: 2vh;
        animation-name: s1Arrow;
        animation-duration: 1.2s;
        animation-timing-function: $slideHarsh1;
        animation-iteration-count: infinite;
    }
}

// screen 2 styles start

#screen2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 36px;

    #s2Caption {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #s2Thepowerof {
            font-size: $fontsizeCaption1;
            text-align: center;
            @include avertaReg;
            color: $textOrange1;
            margin-bottom: 14px;
        }

        #s2Logo {
            width: 180px;
            opacity: 0;
            // js function s1Animate() after onload
        }
    }

    #s2FeaturesWindow {
        width: 100vw;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // grid-gap: 80px;
        margin-top: 40px;
        margin-bottom: 50px;
        margin: 0 auto;

        #s2FeaturesCont {
            display: grid;
            grid-template-columns: repeat(3, 328px);
            justify-content: center;
            transition: all 0.7s $slideSmooth1;
            margin-top: 50px;
            padding-bottom: 40px;

            .s2FeatureBlock {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 28px;

                img.s2FeatureImg {
                    width: 116px;
                    // margin-bottom: 8px;
                }

                .s2FeatureCaption {
                    font-size: 38px;
                    color: $textOrange1;
                    text-align: center;
                    @include avertaSemi;
                    margin-bottom: 8px;
                }

                .s2CaptionAnno {
                    width: 294px;
                    font-size: $fontsizeTextOrdinary1;
                    color: $textBlack1;
                    text-align: center;
                    @include sourcesansReg; 
                }
            }
        }
    }

    #s2Buttons {
        display: none;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        // margin-bottom:80px;

        // #s2ArrowLeft {
        //     height: 9vw;
        //     margin-right: 30px;
        // }

        // #s2ArrowRight {
        //     height: 9vw;
        //     margin-left: 30px;
        // }
    }

    #s2Button {
        width: 200px;
        height: 60px;
        margin-bottom: 60px;
        border-radius: 40px;
        background: $brandGradient1rev;
        text-align: center;
        line-height: 56px;
        font-size: 26px;
        @include avertaReg;
        color: #fff;
    }
}

#screen3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #dbb591;
    
    #s3Caption {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 10px;
        @include avertaReg;
        font-size: $fontsizeCaption1;
        color: #fff;

        #s3Havealook {
            opacity: 0;
        }

        #s3Inside {
            opacity: 0;
        }
    }

    #s3ImgsWindow {
        width: 100vw;
        max-width: 1220px;
        // height: 700px;
        margin-bottom: 10px;
        display: flex;
        overflow: hidden;

        #s3ImgsCont {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            grid-gap: 40px;
            transition: all 0.6s $slideSmooth1;
            overflow-y: hidden;
            overflow-x: scroll;
            margin-top: 32px;
            margin-bottom: 20px;
 
            img.s3Img {
                width: 380px;
                height: 510px;
                object-fit: cover;
            }
        }

        #s3ImgsArrows {
            display: none;
        //     position: absolute;
        //     height: 115vw;
        //     width: 100%;
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     align-items: center;

        //     #s3ImgsLeft {
        //         display: none;
        //         height: 10vw;
        //         padding-left: 12vw;
        //     }

        //     #s3ImgsRight {
        //         display: none;
        //         height: 10vw;
        //         padding-right: 12vw;
        //     }  
        }
    } 

    #s3Caption2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 50px;
        @include avertaReg;
        font-size: $fontsizeCaption1;
        color: #fff;

        #andgetdeeper {
            opacity: 0;
        }

        #withvirtualtour {
            opacity: 0;
        }
    }

    #s3virtualTour {
        width: 100vw;
        max-width: 1220px;
        height: 80vh;
        min-height: 540px;
        background-color:#adabab;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        #s3vtStatus {
            width: 40px;
        }
    }
}

#screen4 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: #dbb591;

    #s4Caption {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 60px;
        @include avertaReg;
        font-size: $fontsizeCaption1;
        color: #fff;
    }

    #s4teamCont {
        display: grid;
        align-items: flex-start;
        justify-items: center;
        grid-template-columns: repeat(3, 300px);
        grid-gap: 40px;
        margin-bottom: 40px;

        .s4personBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 300px;
    
            .s4personImg {
                width: 240px;
                border-radius: 60px;
                margin-bottom: 12px;
            }
    
            .s4personName {
                @include avertaSemi;
                color: #fff;
                font-size: $fontsizeCaption1;
            }
    
            .s4personPosition {
                @include avertaLight;
                color: #fff;
                font-size: $fontsizeCaption2;
                margin-bottom: 8px;
                margin-top: -4px;
            }
    
            .s4personText {
                @include sourcesansReg;
                text-align: center;
                color: #fff;
                font-size: $fontsizeTextOrdinary1;
            }
        }
    }
}

#screen5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    #desktopappBox {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 32px;
        margin-bottom: 10px;

        #s5Caption {
            text-align: center;
            @include sourcesansReg;
            font-size: $fontsizeCaption2;
            color: $textOrange1;
            margin-bottom: 20px;
        }

        #s5buttonDesktop {
            width: 180px;
            height: 54px;
        }
    }

    #mobileappBox {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 30px;

        #s5Caption2 {
            text-align: center;
            @include sourcesansReg;
            font-size: $fontsizeCaption2;
            color: $textOrange1;
            margin-bottom: 30px;
        }

        #s5buttonMobile {
            width: 180px;
            height: 54px;
        }
    }

    #s5feedbackBox {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        #s5Caption3 {
            text-align: center;
            @include avertaReg;
            font-size: $fontsizeCaption1;
            margin-bottom: 44px;
        }

        #s5feedbackWindow {
            width: 100vw;
            max-width: 960px;
            display: flex;
            // flex-direction: column;
            // justify-content: flex-start;
            // align-items: center;
            overflow-y: hidden;
            overflow-x: hidden;

            #s5feedbackCont {
                width: 100vw;
                max-width: 960px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                grid-gap: 80px;
                transition: all 0.6s $slideSmooth1;
                margin-bottom: 40px;
                padding-bottom: 40px;
                overflow-y: hidden;
                overflow-x: scroll;

                .s5feedbackItem {
                    // width: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .s5feedbackName {
                        @include avertaLight;
                        font-size: 26px;
                        color: $textOrange1;
                        margin-bottom: 6px;
                    }

                    .s5feedbackText {
                        @include sourcesansReg;
                        font-size: $fontsizeTextOrdinary1;
                        margin-bottom: 8px;
                        width: 300px;
                        
                    }
                    
                    .s5feedbackCompany {
                        @include avertaLight;
                        font-size: 26px;
                        color: orange;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
            }
        }

        #s5Buttons {
            display: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            #s5ArrowLeft {
                height: 9vw;
                margin-right: 30px;
            }

            #s5ArrowRight {
                height: 9vw;
                margin-left: 30px;
            }
        }
    }

    #s5PartnersBox {
        width: 52vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        #s5PartnersCaption {
            @include avertaSemi;
            font-size: $fontsizeCaption1;
            color: $textOrange1;
        }

        #s5PartnersCont {
            width: 52vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 58px;
            overflow-y: hidden;
            overflow-x: scroll;
            margin-bottom: 32px;

            img.s5PartnersLogo {
                width: 140px;
            }

            // img.s5PartnersLogo:first-of-type {
            //     margin-left: 80px;
            // }

            // img.s5PartnersLogo:last-of-type {
            //     margin-right: 80px;
            // }

            #logoLacoste1 {
                width: 126px !important;
            }

            #logoHuawei1 {
                width: 80px !important;
            }

        }
    }
}    

footer {
    width: 100vw;
    background-color: #adabab;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    #fBlock1 {
        width: 24vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 16px;

        #fB1Slogan {
            @include sourcesansReg;
            font-size: 26px;
            color: white;
            line-height: 22px;
            // @include footerDarkenElems
        } 
        
            // #fB1Slogan:hover {
            //     filter: brightness(90%);
            //     @include footerDarkenElems
            // }
        
        #fB1Logo {
            width: 10vh;
            padding-top: 4px;
            // @include footerDarkenElems
        }

            // #fB1Logo:hover {
            //     filter: brightness(90%);
            //     @include footerDarkenElems
            // }
    }

    #fBlock2 {
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;

        #fB2Email {
            @include avertaLight;
            font-size: 22px;
            color: white;
            margin-right: 46px;
            // @include footerDarkenElems
        }

            // #fB2Email:hover {
            //     filter: brightness(90%);
            //     @include footerDarkenElems
            // }

        #fB2phone {
            @include avertaLight;
            font-size: 22px;
            color: white;
            // @include footerDarkenElems
        }

            // #fB2phone:hover {
            //     filter: brightness(90%);
            //     @include footerDarkenElems
            // }
    }

    #fBlock3 {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 6px;

        #fB3Address {
            @include avertaSemi;
            font-size: 22px;
            color: white;
            text-align: center;
            // @include footerDarkenElems
        }

            // #fB3Address:hover {
            //     filter: brightness(90%);
            //     @include footerDarkenElems
            // }
    }
    #fBlock4 {
        width: 14vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;

        img.fB4Icon {
            height: 40px;
            // @include footerDarkenElems
        }

            // img.fB4Icon:hover {
            //     filter: brightness(90%);
            //     @include footerDarkenElems
            // }
    }

    #fBlock5 {
        width: 56vw;
        margin-bottom: 24px;
        
        #fB5Tothetop {
            @include sourcesansReg;
            font-size: 22px;
            color: #fff;
            text-align: center;
            // @include footerDarkenElems
        }
    }
}
